@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: url(GochiHand-Regular.ttf);
}

#preso {
  box-shadow: none;
}

div.content {
  margin-top: -32px !important;
}

body {
  background: #222;
}

.destacado {
  font-family: 'Gochi Hand', cursive;
  font-size: 32px;
}

.slide {
  background: url(background.jpg);
  border: 1px solid #111;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5) inset;
}

.slide a {
  color: #0a5034;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(10, 126, 52, .85);
}

.slide h1 {
  font-size: 3em;
  color: #fff;
  background-color: #006144;
  padding: 0.25em 10px 0.25em 0;
  text-align: right;
  /* box-shadow: 0 0 5px 3px rgba(20, 126, 72, .5); */
  text-shadow: 0 2px 2px rgba(0, 0, 0, .85);
}

.slide .subsection h1 {
  background-color: #006144;
  text-align: center;
}

.smbullets > ul > li,
.bullets > ul > li {
  text-align: left;
}
