@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: url(GochiHand-Regular.ttf);
}

#preso {
  box-shadow: none;
}

div.content {
  margin-top: -32px !important;
}

body {
  background: #222;
}

.destacado {
  font-family: 'Gochi Hand', cursive;
  font-size: 32px;
}

.slide {
  background: url(background.png);
  border: 1px solid #111;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .45);
}

.slide a {
  color: #0a5034;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 40, 0, .85);
}

.slide h1 {
  font-size: 3em;
  color: #fff;
  background: url(cogs-bg.png) repeat-x right top #006144;
  padding: 0.25em 10px 0.25em 0;
  text-align: right;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .85);
  border-bottom: 3px solid #003b29;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.slide .subsection h1 {
  text-align: center;
}

.smbullets > ul > li,
.bullets > ul > li {
  text-align: left;
}

pre code {
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
  padding: 6px 12px;
}

code {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 6px;
  background: #eee;
  overflow-x: scroll;
  font-style: normal;
}

code code {
  border-width: 0;
  background: transparent;
  box-shadow: none;
  padding: 0;
}